body{
	background-image: url(images/heart.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#numpad{

	padding: 20px;
	width: 50vh;
	margin: auto;
}
#display{

	height: 100px;
	font-size: 90px;
}
button{
	width: 50px;
	height: 50px;
	background-image: url(images/heart.gif);
}
h1{
	margin-left: 600px;
}